{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home - G4car
{% endblock %}

{% block main %}
    <h2 class="principal">G4car - Parking</h2>

    <a href="cadastro_cliente/">Cadastro clientes</a>
     &nbsp;
    <a href="listagem_clientes/">Listagem Clientes</a> <br>

     &nbsp;
    <a href="cadastro_veiculo/">Cadastro veiculo</a>
     &nbsp;
    <a href="listagem_veiculos/">Listagem de veiculos</a>
     &nbsp;
    <a href="cadastro_mensalista/">Cadastro Mensalista</a>

    <a href="listagem_mensalistas">Listagem de Mensalistas</a> <br>

    <a href="cadastro_parametro/">Cadastro de parametro</a>

    <a href="listagem_parametros/">Listagem Parametros</a> <br>&nbsp;

    {% if user.get_username %}
        (usuario: {{ user.get_username }} |
        <a href="accounts/logout/">sair</a> )
    {% else %}
        (user not found |
        <a href="accounts/login/">login</a> |
        <a href="registrar/">registrar</a>
        )
    {% endif %}

    <br> <br>

    <img src="{% static 'img/fundo.png' %}" width="700">
{% endblock %}