{% extends 'base.html' %}
{% load static %}
{% block title %}
    Lista clientes
{% endblock %}

{% block main %}
    <h1>Lista de clientes:</h1>

    <form method="post">
        {% csrf_token %}
    <input type="text" name="nome" > &nbsp; <button type="submit">Pesquisar</button>
    </form>
    --------------------------------------------------------------- <br>

    {% for cliente in clientes %}

        Nome: {{ cliente.nome }} &nbsp; | &nbsp;
        <a href="{% url 'url_atualiza_cliente' cliente.id %}">Editar</a> |
        <a href="{% url 'url_exclui_cliente' cliente.id %}">Excluir</a> <br
        Endereço: {{ cliente.endereco }} <br>
        Complemento: {{ cliente.complemento }}<br>
        Bairro: {{ cliente.bairro }}<br>
        Cidade: {{ cliente.cidade }}<br>
        CEP: {{ cliente.cep }}<br>
        Telefone: {{ cliente.telefone }}<br>
        Email: {{ cliente.email }}<br>
        {% if cliente.foto %}
            <img
                src="{{ cliente.foto.url }}"
                width="100"
                alt="foto - cliente"
            >
        {% else %}
            <img
                src="{% static 'img/generic.png' %}"
                width="100"
                alt="foto - generica"
            >
        {% endif %}
        <br> <br>
        -----------------------------------------------
        <br>

    {% endfor %}

{% endblock %}
